body {
 
}
.pirmais {
  font-family: Arial;
}


ul.A{
  list-style-type: square;
  font-family: Arial;
  margin-left: 0;
  }
img{
margin-left: 50px;
border-style: solid;
border-color: green;

}
img:hover {
  border-color: red;
}
